<nav [ngClass]="{
  'navbar': true,
  'navbar-expand-lg': true,
  'fixed-top': true,
  'navbar-transparent': isNavbarTransparent(),
  'bg-danger': !isNavbarTransparent(),
  'navbar-hidden': isNavbarHidden
}">
  <div class="container">
    <!-- Logo aligned to the left -->
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../assets/img/logo1.png" class="navbar-icons">
      </a>
      <button class="navbar-toggler navbar-burger" type="button" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    
    <!-- Navbar items aligned to the right -->
    <div class="navbar-collapse">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a [routerLink]="['/cinemas']" class="nav-link">Cinemas</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/movies']" class="nav-link">Movies</a>
        </li>

        <!-- Show Login & Register only on the Home Page -->
        <li class="nav-item" *ngIf="isHomePage()">
          <a [routerLink]="['/register/login']" class="nav-link">
            <i class="nc-icon nc-key-25"></i> Login
          </a>
        </li>
        <li class="nav-item" *ngIf="isHomePage()">
          <a [routerLink]="['/register/signup']" class="nav-link">
            <i class="nc-icon nc-simple-add"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
