<nav>
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand"
        ><img
          src="../../../assets/img/logo_near_watch_small.png"
          class="navbar-icons"
      /></a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link">
            <i class="nc-icon"></i>
            Cinemas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link"> Movies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
